{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.e9f1f3ee-a6a0-45c8-8f41-ff1b0b3647ec",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}