{
  "pid": "com.tibco.bw.stat.appnode.ad55c80b-1061-480b-bb70-7f5ac3a01b5e",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.ad55c80b-1061-480b-bb70-7f5ac3a01b5e",
      "type": "java.lang.String"
    }
  }
}