{
  "pid": "bw.application.si.petrol.productfeed.application_1.0",
  "properties": {
    ".type.\/\/si.petrol.productfeed\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/\/eCommerce\/storeId": {
      "name": ".type.\/\/si.petrol.productfeed\/\/\/eCommerce\/storeId",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.MODULE.NAME": {
      "name": "\/\/si.petrol.productfeed\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.DOMAIN.NAME": {
      "name": "\/\/si.petrol.productfeed\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.DOMAIN.NAME": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.APPNODE.NAME": {
      "name": "\/\/si.petrol.productfeed\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "si.petrol.productfeed.application",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.HOST.NAME": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/\/eCommerce\/catalogId": {
      "name": "\/\/si.petrol.productfeed\/\/\/eCommerce\/catalogId",
      "value": "10051",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "si.petrol.productfeed.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/si.petrol.productfeed\/\/\/eCommerce\/listPriceRuleName": {
      "name": ".type.\/\/si.petrol.productfeed\/\/\/eCommerce\/listPriceRuleName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.MODULE.VERSION": {
      "name": "\/\/si.petrol.productfeed\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.MODULE.NAME": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/\/eCommerce\/catalogId": {
      "name": ".type.\/\/si.petrol.productfeed\/\/\/eCommerce\/catalogId",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.ecommerce.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/si.petrol.ecommerce.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.si.petrol.productfeed.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.APPSPACE.NAME": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.HOST.NAME": {
      "name": "\/\/si.petrol.productfeed\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/\/eCommerce\/storeId": {
      "name": "\/\/si.petrol.productfeed\/\/\/eCommerce\/storeId",
      "value": "10201",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/BW.APPSPACE.NAME": {
      "name": "\/\/si.petrol.productfeed\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/si.petrol.productfeed\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/si.petrol.productfeed\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.productfeed\/\/\/eCommerce\/listPriceRuleName": {
      "name": "\/\/si.petrol.productfeed\/\/\/eCommerce\/listPriceRuleName",
      "value": "List%20price%20rule",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.HOST.NAME": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/si.petrol.ecommerce.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    }
  }
}